#container{

}
#card {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#title {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content:left;
}
h1{
  margin: 0;
}
button {
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1rem;
  padding: 15px;
  border-radius: 12px;
  font-weight: bold;
  width:max-content;
}
button:hover {
  background-color: hsl(0, 1%, 77%);
}
button:active {
  background-color: hsl(0, 1%, 87%);
}
